<div
    fxFlex="10%"

    fxLayout="row"
    fxLayoutAlign="end center"
>
    <button
        type="button"
        mat-icon-button 
        (click)="openDialog()"
    >
        <mat-icon>info</mat-icon>
    </button>
    <button
        type="button"
        mat-icon-button 
        (click)="signOut()"
    >
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>


<form 
    [formGroup]="sortingForm"
    (ngSubmit)="onSubmit()"
    fxFlex="90%"

    fxLayout="row wrap" 
    fxLayoutAlign="space-between center"
    fxLayoutAlign.lt-sm="space-evenly center"
    fxLayoutGap.lt-sm="4% grid"
>
    <div 
        fxFlex="33%"
        fxFlexOrder.lt-sm="2"
        fxFlex.lt-sm="48%"
    >
        <mat-form-field
            class="centerize-text"
        >
            <mat-label>Items to sort</mat-label>
            <textarea 
                matInput 
                formControlName="toSort" 
                cdkTextareaAutosize 
                cdkAutosizeMinRows=9 
                cdkAutosizeMaxRows=9></textarea>
        </mat-form-field>
    </div>
    <div 
        fxFlex="19%"
        fxFlex.lt-md="25%"
        fxFlexOrder.lt-sm="1"
        fxFlex.lt-sm="60%"
        
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxLayoutGap="30%"
        fxLayoutGap.lt-sm="10%"
    >
        <mat-form-field 
            fxFlex="10%" 
            [hideRequiredMarker]="true"
        >
            <mat-label>Algorithm</mat-label>
            <mat-select
                formControlName="algorithm"
            >
                <mat-option *ngFor="let algoName of algorithmNames$ | async" [value]="algoName">{{algoName | algoNameFormatter}}</mat-option>
            </mat-select
            >      
        </mat-form-field>
        <button
            class="regular-button"
            type="submit" 
            [disabled]="sortingForm.invalid"
            fxFlex="10%"
            mat-flat-button 
            color="primary">Let's sort!
        </button>
    </div>
    <div 
        fxFlex="33%"
        fxFlexOrder.lt-sm="3"
        fxFlex.lt-sm="48%"
    >
        <mat-form-field 
            class="centerize-text"
        >
            <mat-label>Sorted output</mat-label>
            <textarea 
                matInput 
                cdkTextareaAutosize 
                cdkAutosizeMinRows=9
                cdkAutosizeMaxRows=9
                disabled
                [value]="(sortingResponse$ | async)?.sortedOutput | sortedOutputFormatter"
            ></textarea>
        </mat-form-field>    
    </div>
</form>