@import 'src/styles.sass'
    
#container
    min-height: 100%
    width: 100%

#form-div
    height: 100%
    @media screen and (min-width: $break-small)
        border-left: 1px solid grey

mat-form-field
    width: 80%

.submit-button
    min-width: 130px
